<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>eDziennik</title>
<link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
<script src="/static/jquery.min.js"></script>
<script src="/static/semantic.min.js"></script>
</head>
<body>

<div class="ui blue inverted menu">
  <a href="/{{teacher.id}}/" class="item" style="font-weight: bold">eDziennik</a>
  <span class="item"> {{ teacher.name }} {{ teacher.surname}}</span>
  <div class="menu right">
    <a href="/" class="item">Wyloguj</a>  
  </div>
</div>


