<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Edziennik</title>
<link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
<script src="/static/semantic.min.js"></script>
</head>
<body>

<div class="ui blue inverted menu">
  <a href="/" class="item">eDziennik</a>
</div>

<div class="ui grid">
  <div class="three wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item active">
        Bio
      </a>
      <a class="item">
        Pics
      </a>
      <a class="item">
        Companies
      </a>
      <a class="item">
        Links
      </a>
    </div>
  </div>
  <div class="thirteen wide column">
