{% include "header.html" %}
<div class="ui grid">
  <div class="three wide stretched column">
    <div class="ui vertical fluid tabular menu">
      <a class="item active" href="/{{teacher.id}}/">
        Twój panel
      </a>
      <a class="item" href="/{{teacher.id}}/lessons/">
        Lekcje
      </a>
      <a class="item" href="/{{teacher.id}}/classes/">
        Klasy
      </a>
      <a class="item" href="/{{teacher.id}}/students/">
        Uczniowie
      </a>
    </div>
  </div>
  <div class="thirteen wide column">
  
<h1 class="ui header">Witaj, {{ teacher.name}} {{ teacher.surname }}!</h1>

<div class="ui two cards" style="text-align: center">
  <a href="lessons/create/" class="blue card">
  <div class="content">
            <div class="description">
                <i class="huge add icon"></i>
            </div>
            <div class="name">
                Rozpocznij lekcję
            </div>
        </div>
        </a>
  <a href="lessons/" class="green card">
  <div class="content">
            <div class="description">
                <i class="huge edit icon"></i>
            </div>
            <div class="name">
                Twoje zajęcia
            </div>
        </div>
        </a>
          <a href="classes/my/" class="red card">
  <div class="content">
            <div class="description">
                <i class="huge users icon"></i>
            </div>
            <div class="name">
                Twoje klasy
            </div>
        </div>
        </a>
        
                 <a href="students/my/" class="yellow card">
  <div class="content">
            <div class="description">
                <i class="huge user icon"></i>
            </div>
            <div class="name">
                Twoi uczniowie
            </div>
        </div>
        </a>
</div>

</div>
</div>
{% include "footer.html" %}


